/*
.page-header {
  outline: #1e2527 solid 2px;
}
*/
/*
.header-logo {
  outline: #ffd900 solid 2px;
}
*/
/*
.navigation {
  outline: #FF0000 solid 2px;
}

.navigation-list {
  outline: #00ff00 solid 1px;
}
.navigation-item {
  outline: #0000ff solid 1px;
}
.navigation-link {
  outline: 1px solid #ffd900;
}

.navigation-user {
  outline: #0000ff solid 1px;
}
*/
/*
.navigation-user {
  outline: 2px solid #ffd900;
}
*/
/*
.navigation-user-link {
  outline: #8b008b solid 1px;
}
*/
/*
.page-main {
  outline: 2px solid #0235c2;
}

.hero {
  outline: 2px solid #ff0000;
}

.hero-welcome {
  outline: 2px solid #571f8b;
}
*/
/*
.advantages-list {
  outline: 2px solid #00ff00;
}
.advantages-item-div {
  outline: #ffd900 solid 2px;
}
*/
/*
.advantages-unorder-list {
  outline: #ff0000 solid 2px;
}

.advantages-item-unorder {
  outline: #6200ff solid 2px;
}
*/
/*
.hotel-search {
  outline: 1px solid #00ff00;
}
*/
/*
.hotel-search-title {
  outline: 1px solid #0000ff;
}

.hotel-search-paragraph {
  outline: 1px solid #0000ff;
}

.hotel-search-button {
  outline: 1px solid #0000ff;
}
*/
/*
.subscribe-form {
  outline: #8b008b solid 1px;
}
*/
/*
.footer {
  outline: 2px solid #000000;
}
.footer-social-list {
  outline: 2px solid #ff0000;
}
*/
/*
.footer-social-item {
  outline: 2px solid #00b82e;
}
 */
/*
.footer-social-link {
  outline: 2px solid #00ff00;
}
*/
/*
.hotels-catalog {
  outline: 1px solid #ff8c00;
}
*/
/*
.hotel-sorting {
  outline: 1px solid #00ff00;
}
*/
/*
.sorting-item {
  outline: 2px solid #DC143C;
}
*/
/*
.breadcrumbs-item {
  outline: 2px solid #2f4f4f;
}
*/
/*
.hotel-pagination {
  outline: 2px solid #483d8b;
}
*/
/*
.pagination-item {
  outline: 2px solid #8b008b;
}
*/
/*
.show-item {
  outline: 1px solid #009ac0;
  background-color: #d5ecfc;
}
 */
/*
.show-item-link {
  outline: 1px solid #808000;
}

.hotel-show-img {
  outline: #8b008b solid 1px;
}
 */
 /*
 .form-filter {
  outline: 2px solid #008080;
 }
 */