.modal-search {
  outline: 1px solid #822222;
}
.modal-button-close {
  outline: 1px solid #ffa500;
}

.modal-title {
  outline: 1px solid #33ff00;
}


.date-input-field {
  outline: 1px solid #0000cd;
}

.date-input-block {
  outline: 1px solid #800080;
}

.number-guests-input {
  outline: 1px solid #800080;
}