@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 1200px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  padding-left: 70px;
}

.header-logo {
  position: relative;
  margin-right: 30px;
  width: 139px;
}

.header-logo[href="index.html"]:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header-logo[href="index.html"]:active {
  opacity: 0.3;
}

.header-logo-img {
  position: absolute;
  z-index: 1;
}

.navigation {
  width: 961px;
  display: flex;
}

.navigation-site {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 20px 17px 19px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #615048;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  top: 64px;
  left: 17px;
  right: 17px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  content: "";
  z-index: 2;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 70px;
  display: flex;
  align-items: center;
}

.navigation-user-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-user-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 42px;
  min-height: 65px;
}

.navigation-user-item:nth-child(2) .navigation-user-link::after {
  position: absolute;
  width: 20px;
  top: 15px;
  right: -2px;
  border-radius: 50%;
  background-color: #7db54f;
  content: "12";
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 4px;
}

.navigation-user-icon {
  fill: #000000;
}

.navigation-user-icon:hover,
.navigation-user-icon:focus {
  fill: #756157;
}

.navigation-user-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  width: 160px;
  min-height: 37px;
  margin: 0;
  cursor: pointer;
}
.search-button {
  background-color: #756157;
  border-radius: 4px;
}

.search-button:hover,
.search-button:focus {
  background-color: #615048;
}

.search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  background-color: #e5e5e5;
}

.page-main {
  flex-grow: 1;
}

.hero {
  position: relative;
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #ffffff;
  color: #000000;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero::after {
  position: absolute;
  background-image: url(../images/divider.svg);
  content: "";
  bottom: 0;
  width: 1200px;
  height: 57px;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 63px;
}

.advantages-city-paragraph {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.advantages-reason-paragraph {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-div {
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-div-number {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 92px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-number {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-paragraph {
  text-align: center;
  margin: 0;
}

.advantages-unorder-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: 383px;
}

.advantages-item-unorder {
  width: 400px;
  padding-top: 182px;
  padding-bottom: 80px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-housing {
  background-image: url(../images/advantage-housing.svg);
  background-repeat: no-repeat;
  background-position: 50% 80px;
}

.advantage-item-food {
  background-image: url(../images/advantage-food.svg);
  background-repeat: no-repeat;
  background-position: 50% 80px;
  background-color: #ffffff;
}

.advantage-item-souvenirs {
  background-image: url(../images/advantage-souvenirs.svg);
  background-repeat: no-repeat;
  background-position: 50% 80px;
}

.advantages-item-number {
  padding-top: 103px;
  padding-bottom: 102px;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-fourth {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-dark {
  color: #333333;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  padding-top: 91px;
  padding-bottom: 93px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-search-paragraph {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 56px;
}

.hotel-search-button {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  width: 574px;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.subscribe {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-index {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #ffffff;
  background-size: cover;
}

.subscribe-offer {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-promise {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 600px auto;
  justify-content: center;
  min-height: 60px;
}

.subscribe-input {
  padding: 0;
  padding-left: 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
  max-height: 60px;
}

.subscribe-input:hover {
  background-color: #e2e0e0;
}

.subscribe-input:active,
.subscribe-input:focus {
  background-color: #e2e0e0;
  border: 2px solid #82b3d3;
  outline: none;
}

.subscribe-white {
  color: #ffffff;
}

.subscribe-dark {
  color: #333333;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 35px;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.button-subscribe-favotite,
.pagination-pages {
  background-color: #82b3d3;
  color: #ffffff;
}

.button-subscribe-favotite:hover,
.button-submit:hover,
.pagination-pages:hover {
  background-color: #68a2ca;
}

.button-subscribe-favotite:focus,
.button-submit:focus,
.pagination-pages:focus {
  background-color: #68a2ca;
}

.button-subscribe-favotite:active,
.button-submit:active,
.pagination-pages:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe-favotite:disabled,
.button-submit:disabled,
.pagination-pages:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-subscribe-in-favotites:hover {
  background-color: #6c9e42;
}

.button-subscribe-in-favotites:focus {
  background-color: #7db54f;
}

.button-subscribe-in-favotites {
  background-color: #7db54f;
  color: #ffffff;
}

.button-subscribe-in-favotites:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe-in-favotites:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.hotels-filter {
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  color: #ffffff;
  padding: 35px 70px 70px 70px;
  margin-bottom: 5px;
}

.hotels-filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.breadcrumbs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  margin-right: 25px;
  position: relative;
}

.breadcrumbs-item::after {
  background-image: url(../images/breadcrubs-arrow.svg);
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  position: absolute;
  top: 6px;
  right: -15px;
}

.breadcrumbs-item:last-child:after {
  content: none;
}

.breadcrumbs-link {
  position: relative;
  min-height: 21px;
  min-width: 13px;
  display: block;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus-visible {
  outline: 1px solid;
}

.breadcrubs-house {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
}

.breadcrubs-house:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrubs-house:active {
  fill: rgba(255, 255, 255, 0.3);
}

.form-filter {
  display: flex;
  flex-wrap: wrap;
}

.form-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-fieldset-infrastructure {
  width: 150px;
  margin-right: 70px;
}

.form-fieldset-type {
  width: 145px;
  margin-right: 176px;
}



.form-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 30px;
  padding: 0;
}

.filter-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-item {
  margin-bottom: 15px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.control {
  position: relative;
  display: flex;
  padding-left: 39px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.infrastructure-input+.control-mark {
  border-radius: 4px;
}

.infrastructure-input:checked+.control-mark::before {
  position: absolute;
  background: url(../images/checked.svg);
  width: 13px;
  height: 10px;
  content: "";
  left: 4px;
  top: 5px;
}

.housing-input+.control-mark {
  border-radius: 10px;
}

.housing-input:checked+.control-mark::before {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  left: 5px;
  top: 5px;
  background-color: #3f5e72;
  border-radius: 5px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.infrastructure-input:focus+.control-mark {
  outline: 3px solid #83b3d3;
  background-color: rgba(255, 255, 255, 0.6);
}

.housing-input:focus+.control-mark {
  outline: 3px solid #83b3d3;
  background-color: #ffffff;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.form-fieldset-price {
  width: 288px;
  margin-right: auto;
}

.price-legend {
  margin-bottom: 34px;
}

.range-input {
  position: relative;
  display: flex;
  margin-bottom: 28px;
}

.range-input::before {
  position: absolute;
  content: "от";
  color: rgba(255, 255, 255, 0.3);
  top: 12px;
  left: 112px;
}

.range-input::after {
  position: absolute;
  content: "до";
  color: rgba(255, 255, 255, 0.3);
  top: 12px;
  left: 250px;
}

.price-input {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  width: 144px;
  padding: 12px 15px;
  background-color: transparent;
  border: none;
  border: 2px solid #ffffff;
  appearance: textfield;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  appearance: none;
}

.price-input-min {
  border-radius: 4px 0 0 4px;
}

.price-input-max {
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.price-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.price-input:focus {
  box-shadow: 0 0 0 2px #81b3d2, inset 0 0 0 2px #81b3d2;
  outline: none;
}

.price-input:active {
  background-color: #756257;
  box-shadow: none;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.form-fieldset-button {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.filter-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: inherit;
  border: none;
  min-width: 160px;
}

.button-submit {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #82b3d3;
  min-height: 48px;
  margin-right: 1px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.button-reset {
  font-weight: 400;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  outline: 3px solid #82b3d3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotels-catalog {
  padding-left: 72px;
  padding-right: 71px;
  padding-top: 50px;
}

.hotel-sorting {
  display: flex;
  margin-bottom: 56px;
}

.catalog-result {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 191px;
  padding-top: 7px;
}

.sorting-option {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  width: 290px;
  padding-left: 17px;
  color: #333333;
  background-color: #ffffff;
  appearance: none;
  margin-right: 78px;
}

.sorting-option:hover,
.sorting-option:focus,
.pagination-selected:hover,
.pagination-selected:focus {
  border: 2px solid #68a2ca;
}

.sorting-option:active,
.pagination-selected:active {
  border: 2px solid #3f5e72;
}

.sorting-option:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 160px;
}

.sorting-item {
  margin-right: 8px;
}

.sorting-item:nth-child(3n) {
  margin-right: 0;
}

.sorting-link {
  box-sizing: border-box;
  height: 48px;
  width: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-item:nth-child(1) .sorting-link {
  display: block;
  background-image: url(../images/sorting-icon-table.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sorting-item:nth-child(2) .sorting-link {
  display: block;
  background-image: url(../images/sorting-icon-slideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sorting-item:nth-child(3) .sorting-link {
  display: block;
  background-image: url(../images/sorting-icon-list.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sorting-link:hover {
  border: 2px solid #000000;
}

.sorting-link:focus {
  border: 2px solid #68a2ca;
}

.sorting-link:active {
  border: 2px solid #000000;
}

.show-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 66px;
}

.show-item {
  padding: 20px;
  display: grid;
  row-gap: 16px;
}

.show-item-link {
  text-decoration: none;
  display: block;
  color: #000000;
}

.show-item-link:hover {
  outline: 2px solid #82b3d3;
  opacity: 0.8;
}

.show-item-link:active {
  outline: 2px solid #82b3d3;
  opacity: 0.5;
}

.hotel-show-img {
  display: block;
  margin-bottom: 16px;
  object-fit: contain;
  background-color: #f2f2f2;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.show-item-paragraph {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.show-item-star {
  display: flex;
  align-items: center;
}

.star {
  background-image: url(../images/star.svg);
  width: 18px;
  height: 17px;
  margin-right: 6px;
}

.hotel-show-price {
  color: #333333;
}

.hotel-show-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 8px;
}

.hotel-show-blue {
  background-color: #82b3d3;
}

.hotel-show-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  padding-top: 9px;
  padding-bottom: 8px;
}

.hotel-show {
  margin-bottom: 96px;
}

.hotel-show::after {
  position: absolute;
  content: "";
  border: 1px solid #e6e6e6;
  width: 1055px;
}


.hotel-pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  width: 60px;
  padding-top: 11px;
  padding-bottom: 13px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-pages-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  width: 386px;
}

.pagination-selected {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-color: #ffffff;
  width: 160px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 16px;
  appearance: none;
}

.footer {
  box-sizing: border-box;
  display: flex;
  padding: 45px 70px 30px;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  position: relative;
  display: block;
  width: 47px;
  height: 40px;
}

.social-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-icon:hover,
.social-icon:focus {
  fill: #68a2ca;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  display: block;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  padding-top: 3px;
}

.footer-logo-svg {
  fill: #000000;
}

.footer-logo-svg:hover,
.footer-logo-svg:focus {
  fill: #756157;
}

.footer-logo-svg:active {
  fill: rgba(117, 97, 87, 0.3);
}

/*
Modal window
*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}


.modal-container-close {
  display: none;
}

.modal-search {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 62px 70px 70px 70px;
  width: 715px;
  box-sizing: border-box;
}

.modal-button-close {
  position: absolute;
  right: 70px;
  top: 54px;
  padding: 0;
  border: none;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-image: url(../images/modal-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-button-close:hover {
  background-color: #e6e6e6;
}

.modal-button-close:focus {
  border: 3px solid #83b3d3;
  background-color: #e6e6e6;
  outline: none;
}

.modal-button-close:active {
  background-color: #e6e6e6;
  border: none;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 63px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-search-form {
  display: flex;
  flex-direction: column;
}

.date-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.residence-time,
.guests-adults,
.guests-children {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.guests-adults {
  margin-right: 64px;
}

.guests-children {
  margin-right: 25px;
  position: relative;
}

.date-input-block {
  position: relative;
}

.date-input-field {
  box-sizing: border-box;
  border: none;
  width: 420px;
  height: 50px;
  padding-left: 19px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.calendar-button {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.3;
  border-radius: 0 4px 4px 0;
  background-image: url(../images/date.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.calendar-button:hover {
  opacity: 1;
}

.date-input-field:hover {
  background-color: #e6e6e6;
}

.date-input-field:focus {
  border: 3px solid #83b3d3;
  background-color: #e6e6e6;
  outline: none;
}

.date-input-field:active {
  border: 2px solid #000000;
  background-color: #ffffff;
}

.message-error {
  padding-left: 155px;
  color: #ff5757;
  font-size: 16px;
  margin-bottom: 11px;
}

.message {
  padding-left: 155px;
  font-size: 16px;
  margin-bottom: 11px;
}

.guests-number {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.adults-number {
  display: flex;
  align-items: center;
}

.children-number {
  display: flex;
  align-items: center;
}

.guests-number-block {
  display: flex;
  background-color: #f2f2f2;
}

.number-button-plus {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-image: url(../images/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-radius: 4px 0 0 4px;
  opacity: 0.3;
}

.number-guests-input {
  box-sizing: border-box;
  padding: 0;
  border: none;
  width: 33px;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  appearance: textfield;
  text-align: center;
  background-color: #f2f2f2;
}

.number-guests-input::-webkit-outer-spin-button,
.number-guests-input::-webkit-inner-spin-button {
  appearance: none;
}

.number-guests-input:hover {
  background-color: #e6e6e6;
}

.number-guests-input:focus {
  border: 3px solid #83b3d3;
  background-color: #e6e6e6;
  outline: none;
}

.number-guests-input:active {
  border: 2px solid #000000;
  background-color: #ffffff;
}

.number-button-minus {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-radius: 0 4px 4px 0;
  opacity: 0.3;
}

.number-button-plus:hover,
.number-button-minus:hover {
  background-color: #e6e6e6;
  opacity: 1;
}

.number-button-plus:focus,
.number-button-minus:focus {
  border: 3px solid #83b3d3;
  background-color: #e6e6e6;
  outline: none;
}

.number-button-plus:active,
.number-button-minus:active {
  border: 2px solid #000000;
  background-color: #ffffff;
}

.tooltip {
  position: absolute;
  top: 2px;
  left: 55px;
  width: 25px;
  height: 25px;
}

.tooltip-button {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #83b3d3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-button:hover {
  background-color: #68a2ca;
}

.tooltip-text {
  position: absolute;
  top: 40px;
  right: -116px;
  display: block;
  box-sizing: border-box;
  width: 256px;
  min-height: 143px;
  padding: 15px 18px 18px 22px;
  background-color: #333333;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  border-radius: 10px;
  display: none;
}

.tooltip-text::before {
  position: absolute;
  top: -7px;
  left: 120px;
  width: 14px;
  height: 14px;
  background-color: #333333;
  transform: rotate(45deg);
  content: "";
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.modal-search-button {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
}

.modal-search-button:hover {
  background-color: #68a2ca;
}

.modal-search-button:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
}

.modal-search-button:active {
  background-color: #68a2ca;
  opacity: 0.3;
}