@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.page-header {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.header-logo {
  display: block;
  margin-right: 30px;
}

.header-logo-img {
  display: block;
}

.navigation {
  width: 961px;
  display: flex;
  justify-content: space-between;
}

.navigation-site {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 20px 17px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navigation-link-user {
  display: block;
  width: 42px;
  min-height: 66px;
}

.navigation-item-user:nth-child(2) {
  margin-right: 20px;
}

.navigation-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  width: 160px;
  height: 37px;
  margin: 0;
}

.hero {
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #ffffff;
  color: #000000;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-welcome {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 63px;
}

.advantages-city-paragraph {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.advantages-reason-paragraph {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-div {
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-div-number {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 92px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-number {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-paragraph {
  text-align: center;
  margin: 0;
}

.advantages-unorder-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: 383px;
}

.advantages-item-unorder {
  width: 400px;
  padding-top: 182px;
  padding-bottom: 80px;
  background-color: rgba(131, 179, 211, 0.2);

}

.advantages-item-number {
  padding-top: 103px;
  padding-bottom: 102px;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-dark {
  color: #333333;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  padding-top: 91px;
  padding-bottom: 93px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-search-paragraph {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 56px;
}

.hotel-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  width: 574px;
  margin: auto;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subscribe {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-index {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #ffffff;
}

.subscribe-offer {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-promise {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 600px 200px;
  justify-content: center;
  min-height: 60px;
}

.subscribe-input {
  padding: 0;
  padding-left: 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #f2f2f2;
}

.subscribe-white {
  color: #ffffff;
}

.subscribe-dark {
  color: #333333;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.hotels-filter {
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #000000;
  color: #ffffff;
  padding: 35px 70px 70px 70px;
}

.hotels-filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.breadcrumbs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  margin-right: 26px;
}

.breadcrumbs-link {
  min-height: 21px;
  min-width: 21px;
  display: block;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.form-filter {
  display: flex;
}

.form-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-fieldset-infrastructure {
  width: 150px;
  margin-right: 70px;
}

.form-fieldset-type {
  width: 145px;
  margin-right: 176px;
}

.form-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-fieldset-price {
  width: 288px;
  margin-right: auto;
}

.form-fieldset-button {
  padding-top: 60px;
  width: 160px;
}

.filter-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: inherit;
  width: 160px;
  height: 48px;
  border: none;
}

.button-submit {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #82b3d3;
}

.button-reset {
  font-weight: 400;
}

.hotels-catalog {
  padding-left: 72px;
  padding-right: 71px;
  padding-top: 50px;
}

.hotel-sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.catalog-result {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-option {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.sorting-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 160px;
}

.sorting-item {
  height: 48px;
  width: 48px;
  margin-right: 8px;
}

.sorting-item:nth-child(3n) {
  margin-right: 0;
}

.show-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 66px;
}

.show-item {
  padding: 20px;
  display: grid;
  row-gap: 16px;
}

.show-item-link {
  text-decoration: none;
  display: block;
}

.hotel-show-img {
  display: block;
  margin-bottom: 16px;
  object-fit: contain;
  background-color: #f2f2f2;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.show-item-paragraph {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.hotel-show-price {
  color: #333333;
}

.hotel-show-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 8px;
}

.hotel-show-brown {
  background-color: #756157;
}

.hotel-show-blue {
  background-color: #82b3d3;
}

.hotel-show-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  padding-top: 9px;
  padding-bottom: 8px;
}

.hotel-pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  width: 60px;
  padding-top: 11px;
  padding-bottom: 13px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-black {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-white {
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  width: 386px;
}

.pagination-selected {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 160px;
  border: 0;
  padding: 14px 20px;
}

.footer {
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  justify-content: space-between;
  min-height: 120px;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.footer-social-link {
  width: 47px;
  height: 40px;
  display: block;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  display: block;
  width: 720px;
  height: 50px;
}